<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Audyx Console</title>
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link href="css/style.css" rel="stylesheet">

        <script src="js/peerjs.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
	</head>
	<body ng-app="app" ng-controller="main">
		
		<div class="container-fluid">

			<img class="center-block" src="img/logo.png" alt="audyx">

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Code console" ng-model="code">
			</div>

			<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="connect(code)">
				<span class="glyphicon glyphicon-thumbs-down"></span> 
			</button>
			<button type="button" class="btn btn-success btn-lg btn-block" ng-click="send('yes')">
				<span class="glyphicon glyphicon-thumbs-up"></span> 
			</button>
			<button type="button" class="btn btn-danger btn-lg btn-block" ng-click="send('no')">
				<span class="glyphicon glyphicon-thumbs-down"></span> 
			</button>

		</div>
		<script src="js/peer.js"></script>
	</body>
</html>